@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Molodo';
  src: url('/fonts/molodofontregular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-mono: 'Roboto Mono', monospace;
  --font-molodo: 'Molodo', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-montserrat);
}

html,
body,
#app {
  height: 100%;
}
